* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: green;
}
.root {
    margin: 2rem 20%;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 2rem 2rem 2rem 1fr 2rem;
    row-gap: 2rem;
}

.root > * {
}

.root > h1 {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.root > h2 {
    text-align: center;
}

.root > h1 > img {
    width: 4rem;
}

.playerChoices {
    display: flex;
    width: 100%;
}

.playerChoices > button {
    flex-grow: 1;
}

.score-container {
    display: grid;
    grid-template-columns: 1fr 2rem 1fr 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(203, 253, 185);
    gap: 4rem;
}

.display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: aliceblue;
    padding: 1rem 2rem;
}

.player-choice,
.computer-choice {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-image,
.computer-image {
    width: 16rem;
    height: 16rem;
}

.game-result {
    text-align: center;
}
